@font-face {
    font-family: Gotham-Book;
    src: url("fonts/Gotham-Book.otf");
}

@font-face {
    font-family: Gotham-Light;
    src: url("fonts/Gotham-Light.otf");
}

@font-face {
    font-family: Gotham-Medium;
    src: url("fonts/Gotham-Medium.otf");
}
html,body{
    overflow-x: hidden;
}
a,a:hover,a:focus{
    color: #fff;
    text-decoration: none;
}
input{
    border: none;
}
input:focus {
    outline: none;
}

ul {
    padding: 0;
    list-style: none;
}

::-webkit-scrollbar {
    width: 0px
}
.color-21 {
  color: #2196f3!important;
}

.color-21:hover {
  color: #2196f3!important;
  text-decoration: underline;
}

.color-21:focus {
  color: #2196f3!important;
}
.color-f9{
    color: #FF9800!important;
}
.color-f9:hover,.color-f9:focus{
    color: #FF9800!important;
}
.pd-160 {
    padding: 160px 0!important;
}

.mt-170 {
    margin-top: 170px!important;
}

.mt-120 {
    margin-top: 120px!important;
}

.mt-100 {
    margin-top: 100px!important;
}
.mt-40{
    margin-top: 40px!important;
}
.mt-24 {
    margin-top: 24px!important;
}

.bgf2 {
    background-color: #f2f5f6!important;
}

.btn:hover,
.btn:focus {
    color: #fff;
}

.center-align {
    text-align: center!important;
}
/*top*/
.navbar-default {
    border: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
.ico-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    padding: 5px 15px 60px;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.bg-cover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../images/header_image.jpg) no-repeat center top/cover;
    -webkit-animation: scale  200s linear infinite;
       -moz-animation: scale  200s linear infinite;
            animation: scale  200s linear infinite;
}
.ico-top>.container {
    padding: 0;
}

.ico-nav {
    font-family: Gotham-Book;
    background-color: transparent;
}
.ico-nav .navbar-brand {
    font-size: 20px;
    line-height: 1.2;
    height: auto;
    color: #fff;
}
.dropdown,.ico-book {
    padding: 15px;
}
.dropdown-menu {
    min-width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.header-logo {
    width: 182px;
}
.invalid-name {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.88;
    margin-top: 96px;
    font-family: Gotham-Light;
}
.ico-top .slogan {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 16px;
    font-family: Gotham-Light;
}
.exchange{
    margin-top: 80px;
    padding-top:80px ;
    border-top:1px solid rgba(255, 255, 255, 0.2);
}
.exchange>p{
    font-family: Gotham-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 50px;
}
.exchange li{
    display: inline-block;
    margin: 10px;
}
.exchange li a{
    display: inline-block;
}
.exchange li img{
    height: 60px;
}
/*订阅资讯*/
.ico-subscribe{
    padding:120px 0;
}
.ico-subscribe .ico-email{
    width: 64%;
    height: 48px;
    border-radius: 2px;
    background-color: #e1e6e9;
    margin-right: 4%;
    text-align: center;
    font-family: Gotham-Book;
}
.ico-subscribe h4{
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.67;
    color: #2c363f;
    font-family: Gotham-Light;
    font-weight: 300;
}
.ico-subscribe .btn{
    background-color: #607d8b;
    height: 48px;
    line-height: 48px;
    color: #fff;
    font-family: Gotham-Medium;
    font-weight: 500;
    padding: 0;
}
.ico-subscribe .btn1{
    width: 30%;
    text-align: center;
}
.ico-subscribe .btn2{
    width: 100%;
    text-align: center;
}
.ico-subscribe .btn2 img{
    margin-right: 5px;
}
.telegram{
    width: 38%;
    margin-left: 3%;
    padding-left: 5%;
    border-left: 1px solid #e1e6e9;
    font-family: Gotham-Light;
}
/*什么是 MediShares*/
.ico-des {
    padding: 120px 0 160px;
    font-family: Gotham-Book;
    color: #2c363f;
    line-height: 1.5;
}
.ico-des-title {
    font-size: 29px;
    font-weight: 300;
    color: #2c363f;
    line-height: 1.5;
    font-family: Gotham-Light;
}
.ico-des ul {
    margin-top: 80px;
}
.ico-des-list {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
}
.ico-des-dot {
    float: left;
    margin-right: 15px;
}
.ico-des-dot+div {
    overflow: hidden;
}
 /*MediShares 的优势*/
.ico-superiority ul {
    margin-top: 20px;
}
.ico-superiority li {
    padding: 100px 50px 0;
    font-family: Gotham-Book;
    color: #2c363f;
}
.ico-sup-icon {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    background-color: #2c363f;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.ico-sup-icon>img {
    width: 100%;
}
.ico-sup-icon+div {
    overflow: hidden;
}
/*应用场景*/
.ico-application {
    background-color: #607d8b;
}
.ico-application .ico-des-title {
    color: #fff;
}
.ico-apl-list>li {
    padding: 0 16px;
    margin-top: 20px;
}
.ico-apl-list>li>.ico-apl-detail {
    background-color: #fff;
    background-repeat: no-repeat;
    -moz-background-size: 344px;
    background-size: 344px;
    background-position: right bottom;
    padding: 40px 32px;
    height: 240px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.ico-apl-list>li:nth-of-type(1)>.ico-apl-detail {
    background-image: url(../images/icon/scenario_icon_1@2x.png);
}
.ico-apl-list>li:nth-of-type(2)>.ico-apl-detail {
    background-image: url(../images/icon/scenario_icon_2@2x.png);
}
.ico-apl-list>li:nth-of-type(3)>.ico-apl-detail {
    background-image: url(../images/icon/scenario_icon_3@2x.png);
}
.ico-apl-list>li:nth-of-type(4)>.ico-apl-detail {
    background-image: url(../images/icon/scenario_icon_4@2x.png);
}
.ico-apl-list>li:nth-of-type(5)>.ico-apl-detail {
    background-image: url(../images/icon/scenario_icon_5@2x.png);
}
.ico-apl-list>li:nth-of-type(6)>.ico-apl-detail {
    background-image: url(../images/icon/scenario_icon_6@2x.png);
}
.ico-apl-detail>.ico-apl-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2c363f;
    font-family: Gotham-Medium;
}
.ico-apl-info {
    margin-top: 9px;
    font-size: 12px;
    line-height: 1.5;
    color: #607d8b;
    font-family: Gotham-Book;
}
/*视频*/
.ico-video .video-title{
    margin: 40px 0 80px;
    font-family: Gotham-Book;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color:#2c363f;
}
.ico-video .video-iframe{
    width: 100%;
    height: 42vw;
}
/*保障合约市场*/
.ico-market-list {
    position: relative;
    padding-right: 60px;
}
.ico-market-list:before {
    position: absolute;
    top: -40px;
    left: 0;
    font-family: Gotham-Light;
    font-size: 160px;
    font-weight: 300;
    line-height: 1.0;
    color: #f2f5f6;
    z-index: -1;
}
.ico-market-list.list1:before {
    content: '1';
}
.ico-market-list.list2:before {
    content: '2';
}
.ico-market-list.list3:before {
    content: '3';
}
.ico-market-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #2c363f;
    font-family: Gotham-Medium;
}
/*APP*/
.ico-app{
    background: #e1e6e9;
    padding-top: 120px;
}
/*团队*/
.ico-team-list{
    padding: 20px 12px;
    width: 196px;
    display: inline-block;
    float: none;
    vertical-align: top;
}
.ico-team-img {
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.ico-team-img>img {
    width: 100%;
}
.ico-team-name {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #607d8b;
    font-family: Gotham-Medium;
}
.ico-team-info {
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.5;
    color: #a9b9c1;
    font-family: Gotham-Book;
}
/*顾问*/
.ico-counselor>.container {
    border-top: 1px solid #e1e6e9;
    padding: 160px 15px;
}
/*合作伙伴*/
.ico-partner-list {
    height: 64px;
    margin-top: 40px;
}
.ico-partner-list>a {
    display: inline-block;
    height: 100%;
}
.ico-partner-list img {
    width: auto;
    height: 100%;
}
/*白皮书*/
.ico-paper img{
    margin: 120px 0 30px;

}
.ico-paper h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    color: #607d8b;
    font-family: Gotham-Medium;
}
.ico-paper p{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: #607d8b;
    font-family: Gotham-Book;
}
.ico-paper .download{
    display: inline-block;
    width: 160px;
    height: 48px;
    line-height: 48px;
    border-radius: 2px;
    background-color: #607d8b;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-top: 40px;
    font-family: Gotham-Medium;
}
/*发展路线图*/
.ico-develop {
    background-color: #e1e6e9;
    overflow: hidden;
    position: relative;
    height: 900px;
}
.develop-box .dev-date {
    font-family: Gotham-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #a9b9c1;
}
.develop-box .dev-des {
    font-family: Gotham-Book;
    font-size: 14px;
    line-height: 1.43;
    color: #607d8b;
    margin-top: 8px;
}
/*发展路线图的导航条*/
.iScrollHorizontalScrollbar {
    position: absolute;
    z-index: 9999;
    height: 24px;
    width: 300px;
    left: 50%;
    -webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);
    bottom: 0;
    overflow: visible!important;
}
.iScrollHorizontalScrollbar:before{
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    height: 0;
    width: 100%;
    border-top: 2px solid #c8d2d7;
}
.iScrollHorizontalScrollbar .iScrollIndicator {
    position: absolute;
    width: 64px!important;
    height: 24px!important;
    background:url(../images/icon/slide_btn@2x.png) no-repeat top left/cover;
}
#wrapper {
    position: absolute;
    z-index: 1;
    top: 328px;
    bottom: 80px;
    left: 0;
    right: 0;
    overflow: hidden;
}
#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
/*媒体报道*/
.carousel{
    margin-top: 80px;
}
.carousel-inner ul li{
    float: left;
    width: 30%;
    background: #fff;
}
.carousel-inner ul li a{
    display: block;
}
.carousel-inner ul li:nth-child(2){
    margin: 0 5%;
}
.carousel-inner .carousel-text{
    padding: 24px 32px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2c363f;
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 60px;
}
.carousel-inner .media{
    padding: 0 32px 24px;
   font-family: Gotham;
    font-size: 16px;
    line-height: 1.5;
    color: #a9b9c1;
}
.carousel-control{
    width: 40px;
}
.carousel-control.prev{
    left: -16px;
}
.carousel-control.next{
    left: auto;
    right: -16px;
}
.carousel-control img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
#carousel2 .item>a{
    background: #fff;
    display: block;

}
.view-more{
    margin-top: 60px;
    text-align: center;
    display: block;
}
.view-more>span{
    width: 160px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    background:#607d8b;
    display: inline-block;
    font-size: 12px;
    font-family: Gotham-Medium;
    font-weight: 500;
}
/*页脚*/
footer {
    background-color: #2c363f;
    padding: 120px 0 48px;
}

footer .row {
    padding-bottom: 120px;
}

footer .medi-shares {
    margin: 0;
}

footer .medi-shares>img {
    height: 40px;
}
footer .contact-list>li {
    margin-top: 24px;
    position: relative;
}
footer .contact-list .qq-code{
    position: absolute;
    left: 15px;
    bottom: 50px;
    width:200px;
    display: none;
}
footer .contact-list>li:first-of-type {
    margin-top: 0;
}

footer .contact-list a {
    display: block;
}
footer .contact-icon {
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
    overflow: hidden;
}
footer .contact-icon>img {
    width: 100%;
}
footer .contact-icon+span {
    font-family: Gotham-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #607d8b;
    vertical-align: middle;
}
.code-tip {
    font-family: Gotham-Medium;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    color: #607d8b;
    margin-top: 24px;
    white-space: nowrap;
}
.copyright {
    font-family: Gotham-Book;
    font-size: 14px;
    line-height: 1.43;
    color: #607d8b;
}
/*内容页*/

.document {
  padding: 5% 10px;
  background-color: #607d8b!important;
}

.document .container {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 80px;
}

.document .headline {
  font-family: Gotham-Medium;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  margin: 30px 0;
}

.document .subtitle {
  font-family: Gotham-Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.67;
  margin: 30px 0 20px;
}

.document .content {
  font-size: 20px;
  line-height: 1.6;
}

.document ul {
  list-style: disc;
  padding-left: 25px;
  margin: 10px 0 20px;
}
.document ol{
    margin: 10px 0 20px;
}
.document hr {
  border-top: 1px solid #2c363f;
  margin-top: 159px;
}
.bgcolor-60 {
  background-color: #607d8b!important;
}
/*小于992px屏幕 xs+sm*/
@media (max-width: 991px) {
    /*应用场景*/
    .ico-apl-list-en>li>.ico-apl-detail {
        height: 360px;
    }
    /*媒体报道*/
    .carousel{
        margin-top: 40px;
    }
    .carousel-inner .item{
        padding: 0 24px;
    }
}
/*小于768px屏幕 手机 xs*/
@media (max-width: 767px) {
    /*公共类*/
    .pd-160 {
        padding: 60px 0!important;
    }

    .mt-120,.mt-170,.mt-40{
        margin-top: 0px!important;
    }
    .mt-100 {
        margin-top: 40px!important;
    }
    /*头部*/
    .ico-nav .container{
        padding: 0;
    }
    .invalid-name {
        font-size: 24px;
        margin-top: 80px;
        line-height: 1.33;
    }
    .ico-top .slogan {
        font-size: 14px;
        padding: 0 40px;
    }
    .exchange{
        margin-top: 40px;
        padding-top: 40px;
    }
    .exchange p{
        margin-bottom: 25px;
    }
    /*订阅资讯*/
    .ico-subscribe{
        padding: 40px 0 60px;
    }
    .telegram{
        margin: 24px auto 0;
        padding-left: 15px;
        border-left:none;
        width: 90%;
    }
    .ico-subscribe h4{
        margin-bottom: 12px;
        text-align: center;
    }
    .telegram h4{
        border-top: 1px solid #E1E6E9;
        padding-top: 16px;
    }
    /*什么是 MediShares*/
    .ico-des {
        padding: 60px 0 80px;
    }
    .ico-des li {
        margin-top: 40px;
        padding: 0;
    }
    .ico-des>.container,.ico-superiority>.container,.ico-market>.container,.ico-team>.container{
        padding: 0 32px;
    }
    .ico-des>.container>ul,.ico-superiority>.container>ul,.ico-market>.container>ul{
        margin: 0;
    }
    /*优势*/
    .ico-superiority li {
        padding: 40px 0 0;
    }
    /*应用场景*/
    .ico-apl-list>li {
        margin-top: 8px;
    }
    .ico-apl-list-en>li>.ico-apl-detail {
        height: auto;
    }
    /*视频*/
    .ico-video .video-title{
        margin: 20px 0 40px;
    }
    /*保障合约市场*/
    .ico-market-list:before {
        display: none;
    }
    .ico-market-list {
        margin-top: 40px;
        padding: 0 ;
    }
    /*APP*/
    .ico-app{
        padding-top: 60px;
    }
    /*团队*/
    .ico-team-list{
        padding: 20px 15px;
        width: 50%;
        float: left;
        min-height: 345px;
    }
    .ico-team-img {
        width: 96px;
        height: 96px;
    }
    /*顾问*/
    .ico-counselor>.container {
        padding: 60px 0;
        margin: 0 32px;
    }
    .ico-team-name {
        margin-top: 24px;
    }
    .ico-counselor .ico-team-list {
        min-height: 255px;
    }
    /*页脚*/
    footer {
        padding: 80px 17px 40px;
    }
    footer .medi-shares {
        margin-bottom: 60px;
    }
    footer .contact-list>li {
        padding: 0;
    }
    footer .contact-list>li:nth-of-type(2) {
        margin-top: 0;
    }
    footer .contact-icon {
        margin-right: 12px;
    }
    footer .code-img {
        margin-top: 80px;
    }
    footer .code-tip {
        margin-top: 16px;
    }
    footer .row {
        padding-bottom: 80px;
    }
    footer .contact-list .qq-code{
        left: 0;
        width: 150px;
    }
    /*发展路线图*/
    .scroll-box>ul {
        padding: 40px 32px 0 42px;
    }
    .ico-develop{
        height: auto;
    }
    #wrapper {
        position: relative;
        left: auto;
        top: auto;
        bottom: auto;
        right: auto;
    }
    #scroller {
        position: relative;
    }
    .ico-develop-list {
        padding: 0 0 40px 32px;
        position: relative;
        border-left: 4px solid #c8d2d7;
    }
    .ico-develop-list:last-of-type {
        border: none;
        padding-bottom: 0;
    }
    .ico-develop-list:before {
        content: '';
        position: absolute;
        top: 0;
        left: -14px;
        width: 8px;
        height: 8px;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        background-color: #c8d2d7;
        border: 8px solid #f2f5f6;
        -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    }
    .ico-develop-list:last-of-type:before {
        left: -10px;
    }
    .iScrollHorizontalScrollbar{
        display: none;
    }
    /*白皮书*/
    .ico-paper img{
        margin-top: 40px;
    }
    /*媒体报道*/
    .carousel-inner .carousel-text{
        padding: 12px 12px 0;
    }
    .carousel-inner .media{
        padding:  0 12px 12px;
    }
    .ico-subscribe .ico-email{
        width: 100%;
        margin: 0;
    }
    .ico-subscribe .btn1{
        width: 50%;
        margin: 10px auto;
        display: block;
    }
    .ico-paper .download{
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        margin-top: 20px;
    }
    .ico-paper h4{
        font-size: 16px;
    }
    .document .container {
      padding-top: 10px;
    }
    .document .headline {
      margin: 20px 0;
    }
    .document .subtitle {
      margin: 20px 0 10px;
    }
}
/*小于等于360px屏幕*/
@media (max-width: 360px) {
    footer .contact-icon {
        margin-right: 3px;
    }
    footer .contact-icon+span {
        font-size: 14px;
    }
}
/*大于等于768px屏幕 包含平板 sm+md+lg*/
@media (min-width: 768px) {
    .ico-partner-list {
    width: auto;
    padding: 0;
    margin: 40px 24px 0;
    display: inline-block;
    float: none;
    }
    .scroll-box>ul {
        width: 1500px;
        border-top: 4px solid #c8d2d7;
        padding-left: 132px;
    }
    .ico-develop-list {
        width: 263px;
        position: relative;
        border-left: 1px solid #c8d2d7;
        min-height: 160px;
    }
    .ico-develop-list:nth-of-type(2n+1) {
        -webkit-transform: translateY(-160px);
        -moz-transform: translateY(-160px);
        -ms-transform: translateY(-160px);
        transform: translateY(-160px);
    }
    .ico-develop-list:before {
        content: '';
        position: absolute;
        top: -14px;
        left: -12px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 8px;
        height: 8px;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #c8d2d7;
        border: 8px solid #f2f5f6;
        -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    }
    .ico-develop-list:nth-of-type(2n+1):before {
        top: auto;
        bottom: -14px;
    }
    .develop-box {
        position: absolute;
        padding-left: 16px;
        bottom: 0;
    }
    .ico-develop-list:nth-of-type(2n+1) .develop-box {
        top: 0;
        bottom: auto;
    }
}
/*@media (min-width: 1200px) {
    .container {
        width: 1080px;
    }
}*/
@media (min-width: 1450px) {
    .iScrollHorizontalScrollbar{
        display: none;
    }
    #scroller,.scroll-box,.scroll-box>ul{
        width: 100%;
    }
    .ico-develop-list{
        width: 20%;
    }
}


@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1) translate(0 ,0);
                transform: scale(1) translate(0 ,0);
    }
    25% {
        -webkit-transform: scale(2) translate(20% ,20%);
                transform: scale(2) translate(20% ,20%);
    }
    50% {
        -webkit-transform: scale(1) translate(0 ,0);
                transform: scale(1) translate(0 ,0);
    }
    75% {
        -webkit-transform: scale(2) translate(-20% ,-20%);
                transform: scale(2) translate(-20% ,-20%);
    }
    100% {
        -webkit-transform: scale(1) translate(0 ,0);
                transform: scale(1) translate(0 ,0);
    }
}

@-moz-keyframes scale {
    0% {
        -moz-transform: scale(1) translate(0 ,0);
             transform: scale(1) translate(0 ,0);
    }
    25% {
        -moz-transform: scale(2) translate(20% ,20%);
             transform: scale(2) translate(20% ,20%);
    }
    50% {
        -moz-transform: scale(1) translate(0 ,0);
             transform: scale(1) translate(0 ,0);
    }
    75% {
        -moz-transform: scale(2) translate(-20% ,-20%);
             transform: scale(2) translate(-20% ,-20%);
    }
    100% {
        -moz-transform: scale(1) translate(0 ,0);
             transform: scale(1) translate(0 ,0);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1) translate(0 ,0);
           -moz-transform: scale(1) translate(0 ,0);
                transform: scale(1) translate(0 ,0);
    }
    25% {
        -webkit-transform: scale(2) translate(20% ,20%);
           -moz-transform: scale(2) translate(20% ,20%);
                transform: scale(2) translate(20% ,20%);
    }
    50% {
        -webkit-transform: scale(1) translate(0 ,0);
           -moz-transform: scale(1) translate(0 ,0);
                transform: scale(1) translate(0 ,0);
    }
    75% {
        -webkit-transform: scale(2) translate(-20% ,-20%);
           -moz-transform: scale(2) translate(-20% ,-20%);
                transform: scale(2) translate(-20% ,-20%);
    }
    100% {
        -webkit-transform: scale(1) translate(0 ,0);
           -moz-transform: scale(1) translate(0 ,0);
                transform: scale(1) translate(0 ,0);
    }
}
